/* Universal CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    background: #E5E5E5;
}

/* Header - Navigation Menu Styles */
header{
    background: #562EFF;
}

.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}
.nav-brand .nav-title{
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    padding: 5px;
}
.nav-brand img{
    width: 10%;
}

.menu-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.menu-container a{
    text-align: center;
    display: block;
    padding: 0px 20px;
    color: #FFFFFF;
}
/* Main Area Styles */
/* Top Player Section Style */
.top-player{
    margin: 30px 150px 0px 150px;
    background: #FFFFFF;
    padding: 35px;
}

.top-player-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
}

.top-player-heading{
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
    margin: 0px 0px 20px 20px;
}

.players-info{
    display: flex;
    gap: 10px;
    align-items: center;
}

.players-info .player-img, .player-title{
    flex: 1;
}

.players-info img{
    width: 100%;
}

/* Responsive Layout Styles */

/* Responsive Layout - Mobile */

@media screen and (max-width:576px) {
    .nav{
        flex-flow: column wrap;
        text-align: center; 
        padding: 0;
    }
    
    .nav .nav-brand{
        margin: 10px 0px; 
    }
    
    .menu-container{
        flex-flow: column wrap;
    }
    
    .menu-container a { 
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.7); 
    }
    
    .menu-container li:first-child a{
        border-top: none; 
    }    

    /* Main Area Responsive Styles */

    /* Top Player Section Responsive */
    .top-player{
        margin: 20px 20px 0px 20px;
        background: #FFFFFF;
        padding: 35px;
    }

    .top-player-container{
        grid-template-columns: repeat(1, 1fr);
    }
}